.oval-image{
    border-radius: 50%;
}

.oval-image:hover{
    animation: rotate 1s infinite;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
         }
}

.message-shadowed{

}

.message-shadowed:hover{
    box-shadow: 4px 4px 8px black;
}