<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="border: 1px solid gray">
    <form method="post" th:action="@{/logout}">
        <input type="submit" value="Sign Out">
    </form>
</div>
<div style="border: 1px solid gray">
    <form method="post">
        <input type="text" name="text" placeholder="Введите текст сообщения...">
        <input type="text" name="tag" placeholder="Введите тег сообщения...">
        <input type="submit" value="Отправить">
    </form>
</div>
<div style="border: 1px solid gray;
            margin-top: 15px">
    <div>Список сообщений:</div>
    <div>
        <form method="get" th:action="@{/main}">
            <input type="text" name="filter" placeholder="Ведите тег для пойска...">
            <input type="submit" value="Найти...">

        </form>
    </div>
    <th:block th:each="message : ${messages}">
        <div>
            <b th:text="${message.id}"></b>
            <span th:text="${message.text}"></span>
            <i th:text="${message.tag}"></i>
            <strong th:text="${message.authorName}"></strong>
        </div>
    </th:block>
</div>
</body>
</html>