<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!--Meta Tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!------------->
    <title>Registration</title>
    <!--Links-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <!--------->
</head>
<body>
<!--Navigation bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Sweater</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/main}">Messages</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" th:href="@{/user}">Users</a>
            </li>
        </ul>

        <div class="navbar-text" sec:authorize="isAuthenticated()">
            <a sec:authentication="principal.username" th:href="@{/profile}">Username</a>
        </div>

        <div class="navbar-text" style="margin-left: 5px" sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout">
            </form>
        </div>
    </div>
</nav>
<!------------------>

<div class="container mt-5">
    <!--Registration Form-->
    <div style="text-align: center">
        <h1>Registration Page</h1>
    </div>
    <div style="margin-bottom: 5px; color: darkred; font-weight: bold" th:if="${usernameMessage}">
        <span th:text="${usernameMessage}"></span>
    </div>
    <form th:action="@{/registration}" method="post" th:object="${user}">
        <div class="form-group">
            <label for="username">Username:</label>
            <div class="col-sm-6">
                <input th:class="${usernameError} ? 'form-control is-invalid' : 'form-control'" type="text" name="username" id="username" placeholder="Введите логин"
                       th:field="*{username}">
                <div class="invalid-feedback" th:if="${usernameError}">
                    <span th:text="${usernameError}"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <div class="col-sm-6">
                <input th:class="${emailError} ? 'form-control is-invalid' : 'form-control'" type="email" name="email" id="email" placeholder="Введите почту"
                       th:field="*{email}">
                <div class="invalid-feedback" th:if="${emailError}">
                    <span th:text="${emailError}"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <div class="col-sm-6">
                <input th:class="${passwordError} ? 'form-control is-invalid' : 'form-control'" type="password" name="password" id="password" placeholder="Введите пароль"
                       th:field="*{password}">
                <div class="invalid-feedback" th:if="${passwordError}">
                    <span th:text="${passwordError}"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="g-recaptcha" data-sitekey="6LcXGhEgAAAAAGfvAIzARgnUeacrR3uS92dY5-Hr"></div>
            <div th:if="${captchaError}" class="alert alert-danger" role="alert">
                <span th:text="${captchaError}"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
    <span>Already have account? Log in </span>
    <a th:href="@{/login}">here</a>
    <span>.</span>
    <!--------------------->
</div>

<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<!----------->
</body>
</html>